@page "/"
@using Var.Protos
@using Grpc.Core

@inject Greeter.GreeterClient GreeterClient


<div style="height: 50vh; overflow-y:auto">

    @foreach (var message in _messages)
    {
        <h2>@message</h2>
    }



</div>


@code
{

    private List<string> _messages = new List<string>();

    protected override async Task OnInitializedAsync()
    {


        using (var serverStream = GreeterClient.JoinChat(new HelloRequest()))
        {
            var stream = serverStream.ResponseStream;
            await foreach (var message in stream.ReadAllAsync())
            {
                _messages.Add(message.Message);
                this.StateHasChanged();
            }
        }
    }


} 