@inherits LayoutComponentBase


<div style="display: grid; grid-template-columns: fr auto fr; grid-template-rows: fr auto fr; width: 100vw; height: 100vh">

    <div style="grid-column: 2; grid-row: 2">
        @Body
    </div>
</div>
